@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
 
:root{
    --background-color: #ffffff;
    --text-color: #565973;
    --primary-color: #6366f1;
    --system-error: #EF4444;
    --system-success: #22c55e;
    --system-warning: #ffba08;
    --system-info: #4c82f7;
    --white: #fff;
    --gray-100: #f3f6ff;
    --gray-200: #eff2fc;
    --gray-300: #e2e5f1;
    --gray-400: #d4d7e5;
    --gray-500: #b4b7c9;
    --gray-600: #9397ad;
    --gray-700: #565973;
    --gray-800: #33354d;
    --gray-900: #0b0f19;
   
    --gradient-background-color: #ffff;
    --gradient-background: linear-gradient(180deg,rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
 
    --color-button-text: var(--white);
    --color-button-background: var(--primary-color);
    --color-button-background-hover: var(--gray-600);

    --color-button-secondary-text: var(--primary-color);
    --color-button-secondary-background: var(--white);
    --color-button-secondary-background-hover: var(--gray-600);

    --color-button-download-app-background: #0b0f19;
    --color-button-download-app-hover-background: #33354d;
    --color-button-download-app-text: #ffffff;
 
}

@media (prefers-color-scheme: dark){
    :root{
    --background-color: #0B0F19;
    --text-color: #565973;
    --primary-color: #6366f1;
    --system-error: #EF4444;
    --system-success: #22c55e;
    --system-warning: #ffba08;
    --system-info: #4c82f7;
    --white: #fff;
    --gray-100: #f3f6ff;
    --gray-200: #eff2fc;
    --gray-300: #e2e5f1;
    --gray-400: #d4d7e5;
    --gray-500: #b4b7c9;
    --gray-600: #9397ad;
    --gray-700: #565973;
    --gray-800: #33354d;
    --gray-900: #0b0f19;
   
    --gradient-background-color: #ffff;
    --gradient-background: linear-gradient(180deg,rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
 
    --color-button-text: var(--white);
    --color-button-background: var(--primary-color);
    --color-button-background-hover: var(--gray-600);

    --color-button-secondary-text: var(--primary-color);
    --color-button-secondary-background: var(--white);
    --color-button-secondary-background-hover: var(--gray-600);

    --color-button-download-app-background: #0b0f19;
    --color-button-download-app-hover-background: #33354d;
    --color-button-download-app-text: #ffffff;
    }
}
    
.dark{
    color-scheme: dark;

    --background-color: #0B0F19;
}
 
html{
    color-scheme: light;
}


body{
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}
 
button{
    color: var(--color-button-text);
    background-color: var(--color-button-background);
}

.btn{
    display: flex;
    gap: 0.5rem;
    background-color: var(--primary-color);
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    padding: 12px 24px;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.10s ease-in-out;
    cursor: pointer;
 
    &:hover{
        background-color: var(--color-button-background-hover);
    }

    .img{
        height: 100%;
        width: auto;
    }
}

.btn-secondary{
    display: flex;
    gap: 0.5rem;
    background-color: var(--color-button-secondary-background);
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    padding: 12px 24px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--color-button-secondary-text);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.10s ease-in-out;
    cursor: pointer;
 
    &:hover{
        background-color: var(--color-button-background-hover);
    }

    .img{
        height: 100%;
        width: auto;
    }
}

.btn-subscribe{
    display: flex;
    gap: 0.5rem;
    background-color: var(--primary-color);
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 13px 32px;
    height: 52px;
    border: none;
    border-radius: 0 4px 4px 0;
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.10s ease-in-out;
    cursor: pointer;
 
    &:hover{
        background-color: var(--color-button-background-hover);
    }

    .img{
        height: 100%;
        width: auto;
    }
}

/* Download app buttons */
 
.btn-download{        
    text-decoration: none;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    
    .btn-area{
        padding: 10px 20px;
        display: grid;
        column-gap: 1rem;
        align-items: center;
        grid-template-columns: auto 1fr;
        grid-template-areas:    "icon text" 
                                "icon store";

        font-size: 1.2rem;

        background-color: var(--color-button-download-app-background);
        color: var(--color-button-download-app-text);
        border-radius: 10px;
        
        .download-app-text{
            grid-area: text;
            font-size: 0.6em;
            font-weight: 600;
            text-align: left;
        }
    
        .download-app-icon{
            grid-area: icon;
            height: auto;
            width: auto;
        }
    
        .download-app-store{
            grid-area: store;
            font-size: 0.8em;
            font-weight: 700;
            text-align: left;
        }
    }
}

a{
    text-decoration: none;
}

.img{
    width: 100%;
    height: auto;
}
 
/*Fonts*/
 
.bodys{
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.bodym{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.bodyl{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.h1{
    margin: 0;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 130%;
    color: var(--gray-900);
}
 
.h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 130%;
    color: var(--gray-900);
}
 
.h3{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    line-height: 130%;
    color: var(--gray-900);
}
 
.h4{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 140%;
    color: var(--gray-900);
}
 
.h5{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 140%;
    color: var(--gray-900);
}
 
.buttontext-white{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    color: var(--white);
}
 
.buttontext-primary{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    color: var(--primary-color);
}
 
.buttontext-success{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    color: var(--system-success);
}
 
.review-name{
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 160%;
    color: var(--gray-900);
}
 
.navigation-accordion{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    color: var(--gray-900);
}

/* Fonts end */

.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Header start */
header{
 
    .logotyp{
        display: flex;
        align-items: center;
        gap: 0.5rem;
 
        .logotyp-text{
            font-size: 1.25rem;
            font-weight: 800;
            line-height: 130%;
            color: var(--gray-900);
        }
    }
 
    .header-area{
        display: flex;
        justify-content: space-between;
 
        @media (width >= 768px){
            display: flex;
            justify-content: space-between;
        }
    }
 
    .actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
 
    }
}

.darkmode{
    display: flex;
    align-content: center;
    justify-content: center;
}

.toggle{
    --_w: 44px;
    --_h: 24px;

    width: var(--_w);
    height: var(--_h);
    flex-shrink: none;
    position: relative;
    display: inline-block;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.slider{
    position:absolute;
    cursor: pointer;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color:var(--gray-600);
    border-radius: 100vw;
    

    transition: 400ms;
}

.slider::before{
    content: '';
    position: absolute;
    top:2px;
    left: 3px;
    bottom:2px;
    right: 2px;
    height: 80%;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #00000057;

    transition: 400ms;
}

input[type="checkbox"]:checked + .slider::before{
    left: calc(103% - var(--_h));
    background-color: var(--white);
}

input[type="checkbox"]:checked + .slider{
    background-color: var(--primary-color);
}

/* Header end */

/* Hero start */
.hero{
    background: var(--gradient-background-color);
    background: var(--gradient-background);
    padding-top: 100px;
 
    .hero-area{
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        @media (width >= 768px){
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            text-align: left;
        }

        .hero-content{
            display: flex;
            flex-direction: column;
            gap: 24px;
            
            .hero-title{
                margin: 0;
                font-size: 3.5rem;
                font-weight: 800;
                line-height: 130%;
                color: var(--gray-900);
            }

            .hero-ingress{
                margin: 0;
                margin-bottom: 48px;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 160%;
                color: var(--gray-700);
            }

            .app-download-buttons{
                display: grid;
                grid-template-columns: 180px 180px;
                gap:1rem;

                margin-bottom: 5rem;
            }
        }
    } 
}

/* Hero end */

/* Brand start */ 
.brand-area{
    display: flex;
    text-align: center;
    gap:24px;
    margin-top: 48px;

    .brand-box{
    flex: 6;
    border:1px solid;
    border-color: var(--gray-300);
    border-radius: 8px;
    height: 100px;
    align-content: center;
}
}

/* Brand end */ 

/* App features start */ 
.feature-area{
    display: flex;
    justify-content: space-between;
    margin-top: 112px;

    .feature-content{
        margin-left: 200px;
    
        .feature-headline{
            margin: 0;
            font-size: 2.5rem;
            font-weight: 800;
            margin-bottom: 16px;
        }

        .feature-text{
            margin: 0;
            font-size: 1.125rem;
            color: var(--gray-600);
            font-weight: 400;
        }

        .card-container{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        grid-gap: 56px;
        margin-top: 67px;

            .card{
                display: grid;
                width: 345px;        
                grid-template-columns: 1fr auto;
                grid-template-areas:    "c1 c2"
                                        "c1 c3";
            
                .c1{
                    grid-area: c1;
                    margin-right: 24px;
                }  
            
                .c2{
                    grid-area: c2;
                }
            
                .c3{
                    grid-area: c3;
                }

                .card-headline{
                    margin: 0;
                    font-size: 1.25rem;
                    font-weight: 800;
                    line-height: 140%;
                    color: var(--gray-900);
                }   

                .card-description{
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 160%;
                    color: var(--gray-700);
                }

                .icon-box{
                    text-align: center;
                    align-content: center;
                    border-radius: 8px;
                    background-color: rgba(99, 102, 241, 0.08);
                    height: 60px;
                    width: 60px;
                    padding-top: 3px;

                    .img{
                        height: 28px;
                        width: 28px;
                    }
                }
            }
        }
    }
}
/* Feature end */

/* How does it work start */

#howdoesitwork{
    background-color: var(--gray-100);
    padding-bottom: 96px;
    padding-top: 48px;
}

.hdiw-headline{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 130%;
    color: var(--gray-900);
    text-align: center;
    padding-bottom: 32px;
}

.hdiw-images{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 40px 32px 40px;
}

.hdiw-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 350px 0 350px;

    .h4{
        margin: 0;
        margin-bottom: 12px;
        color: var(--gray-900);
        font-size: 1.5rem;
    }    
}

/* How does it work end */

/* App Features start */

.appfeatures-area-1{
    display: flex;
    align-items: center;
    margin-top: 112px;
}

.appfeatures-area-1-content{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.appfeatures-area-1-content-header{
    padding-bottom: 32px;
    width: 490px;
} 
    
ul{
    margin: 0;
    padding: 3px;
    list-style: none;
}
        
.list-icon{
    color: var(--primary-color);
    padding-right: 8px;
}

.checklist{
    margin-bottom: 40px;

    .list-item{
        margin: 0;
        padding-bottom: 12px;
    }
}

.appfeatures-area-2{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 112px;

    .appfeatures-area-2-header{
    max-width: 526px;
    padding-bottom: 32px;
    }

    .appfeatures-area-2-info{
    display: flex; 
    justify-content: space-between;

    }

    .appfeatures-card{

        .icon-box{          
        text-align: center;
        align-content: center;
        border-radius: 8px;
        background-color: rgba(99, 102, 241, 0.08);
        height: 60px;
        width: 60px;
        padding-top: 3px;

            .img{
            height: 28px;
            width: 28px;
            }
        }

        .icon-box-text{
            display: flex;
            width: 243px;
            margin: 12px 0 40px 0;
        }
    }
}

/* Testimonals start */
#testimonals{
    background-color: var(--gray-100);
    margin-top: 112px;
    margin-bottom: 120px;
}

.testimonals-areas{
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 113px;
}

.testimonals-area-right{
    display: flex;
}

.testimonals-headline{
    margin-top: 0px;
    width: 306px;
}

.testimonals-block{
    display: flex;
}

.testimonals-card{
    background-color: var(--white);
    border-radius: 8px;
    padding: 48px 24px 24px 24px;
    width: 416px;
    margin-left: 24px;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 
                0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
}

.stars{
    padding-bottom: 24px;
}

.review-content{
    padding-bottom: 24px;
}

.review-user{        
    text-decoration: none;
    align-items: center;
    
    .review-user-area{
        display: grid;
        column-gap: 1rem;
        align-items: center;
        grid-template-columns: auto 1fr;
        grid-template-areas:    "image name" 
                                "image title";

        font-size: 1.2rem;
        
        .review-name{
            grid-area: name;
            font-size: 0.8em;
            font-weight: 800;
            text-align: left;
        }
    
        .review-image{
            grid-area: image;
            height: auto;
            width: auto;
        }
    
        .review-title{
            grid-area: title;
            font-size: 0.8em;
            text-align: left;
            color: var(--gray-600);
        }
    }
}

.quote-icon{
    background-color: var(--primary-color);
    border-radius: 6px;
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
    height: 44px;
    width: 44px;
    text-align: center;
    align-content: center;
    position: absolute;
    padding-top: 5px;
    margin-left: 48px;
    margin-top: -24px;
    
}

/* FAQ start */

.faq-areas{
    display: flex;

    justify-content: space-between;
    width: 1290px;
}

.faq-accordion{
    justify-items: end;
}

.faq-content{
    width: 416px;
}

.faq-contact-card-container{
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.faq-text{
    margin-top: 32px;
}

.faq-phone{
    display: grid;
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    padding: 24px;

    .bodys{
        margin: 20px 0 8px 0;
    }
}

.faq-chat{
    display: grid;
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    padding: 24px;

    .bodys{
        margin: 20px 0 8px 0;
    }

}

.btn-phone{
    display: flex;
    gap: 0.5rem;
    background-color: var(--color-button-secondary-background);
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    height: 40px;
    width: auto;
    border: none;
    color: var(--color-button-secondary-text);
    text-align: start;
    align-items: center;
    justify-content: center;
    padding: 11px 0 11px 0;
    text-decoration: none;
    transition: background 0.10s ease-in-out;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }

    .img{
        height: 100%;
        width: auto;
    }
}

.btn-chat{
    display: flex;
    gap: 0.5rem;
    background-color: var(--color-button-secondary-background);
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    height: 40px;
    width: auto;
    border: none;
    color: var(--system-success);
    text-align: start;
    align-items: center;
    justify-content: center;
    padding: 11px 0 11px 0;
    text-decoration: none;
    transition: background 0.10s ease-in-out;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }

    .img{
        height: 100%;
        width: auto;
    }
}


.accordion__wrapper {
    display: flex;
    flex-direction: column;
}

.questions__accordion {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.questions-answer__accordion {
    display: flex;
    flex-direction: column;
    width: 746px;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 
                0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 8px;
    padding: 16px 24px 16px 24px; 
    margin-bottom: 12px;
}

.title__question {
    font-weight: 600;
    color: var(--gray-900);

    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question img {
    background-color: var(--gray-100);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 12px;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.answer {
    display: none;
    margin-top: 0.5rem;
}

.active .answer {
    display: block;
    padding: 16px 0px 16px 0px;
    color: var(--text-color);
    transition: all 0.3s ease-in;
}

.active img {
    background-color: var(--primary-color);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 12px;
    text-align: center;
    justify-content: center;
    transform: rotate(180deg);
}

.chevron {
    background-color: var(--gray-100);
    color: var(--gray-900);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 8px;
    text-align: center;
    justify-content: center;
    transition: transform 0.3s ease-in, fill 0.3s ease-in, color 0.3s ease-in;
}

.active .chevron {
    background-color: var(--primary-color);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 8px;
    text-align: center;
    justify-content: center;
    transform: rotate(180deg);
    color: var(--white);
}

/* FAQ end */

/* Subcribe start */
.subscribe-area{
    background-color: var(--gray-100);
    border-radius: 8px;
    padding: 72px;
    padding-left: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 112px;
}

.subscribe-content{
    display: flex;
    gap: 32px;
    width: 526px;
}

.subscribe-form{
    padding-right: 80px;
}

.input-container {
  display: flex;
  width: 100%;
}

.input-field {
    width: 330px;
    background-image: url('../assets/images/envelope-icon.svg');
    background-position: 13px 15px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 3px;
    border-radius: 8px 0 0 8px;
    border: 1px solid var(--gray-400);
}

input::placeholder{
    color: var(--gray-500);
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

/* Subscribe end */

/* Footer start */

footer{
    background-color: var(--background-color);
    color: var(--gray-600);
    text-align: center;
    align-content: center;
    height: 130px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 321px 0 320px;
}

/* Footer end */